table {
     border: 2px solid blue;
     border-collapse: collapse;
     width: 30%;
}
th, td  {
    border: 1px solid blue ;
    padding: 5px ;
    text-align: center;
}
th {
    background-color: lightblue;
}