h1 {
    text-align: center;
}
table {
    border: 2px solid blue;
    border-collapse: collapse;
    width: 50%;
}
 td  {
   border: 1px solid blue ;
   padding: 5px ;
   text-align: center;
}
th {
    font-size: 14px;
    background-color: blue;
    color: aliceblue;
   
}
tr.odd {
    background-color: lightgreen;

}
tr.even {
    background-color: lightyellow;

}
tr:hover {
    background: red;
    color: white;
}
td#USD {
    background-color: orange;
}